<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask_Chat_App</title>
</head>
<body>

  <img id="feed">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
	 var socket = io.connect('http://' + document.domain + ':' + location.port);
	 socket.on( 'connect', function() {
		socket.emit( 'connection', {
		  data: 'User Connected'
		} )
	 } );
	 socket.on('ping from server', function(){
		 console.log("got message from server");
		 socket.emit('pong from client',{
			 source: "{{url_for('video_feed')}}"
		 })
	 });

	 socket.on('pong from client', function(){
		 console.log('got message from other client');
	 });

	 socket.on('video from client', function(msg){
		 console.log(msg);
		if( typeof msg.source !== 'undefined' ) {
			var image = document.getElementById('feed');
			image.src = msg.source;
		}
	 });
  </script>

</body>
</html>