 <!DOCTYPE HTML>
<html lang="en">
	<head>
		 <!-- Required meta tags -->
    	<meta charset="utf-8">
		<title>
			Video Streaming test 
		</title>
		<!--<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    	Don't use this in production 
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
	<div id="root"></div>
	<div id="video-container">
		<img src="{{ url_for('video_feed') }}"> 	
	</div>
  	<!-- Load our React component. -->
  	<script src="bundle.js"></script>
	</body>
</html>